.vscode
.ipynb_checkpoints
.packagemanagement
__pycache__/
playwright-report/
playwright-videos/
test-results/
node_modules/
dist/
bin/
obj/
dist_extension/
tmp/
paket-files/
.paket/

_ipython_node.ts
_ipython_spi.fsx
