version 7.0
framework: net7.0
storage: none
source https://api.nuget.org/v3/index.json

nuget FSharp.Core >= 7.0 prerelease

// Web
nuget Feliz.JSX.Solid ~> 1.0.0-beta-002
nuget Fable.Promise ~> 3.2

// Peer
nuget FSharp.Control.AsyncSeq ~> 3.2
nuget System.Reactive.Linq ~> 5.0
nuget Argu ~> 6.1
nuget Giraffe ~> 6.0
nuget Saturn ~> 0.15
nuget Giraffe.SerilogExtensions ~> 2.1
nuget Serilog.Sinks.SpectreConsole ~> 0.3
nuget Serilog.Sinks.Console ~> 4.1.1-dev-00896
nuget System.Text.Encodings.Web >= 5.0
nuget Microsoft.AspNetCore.SignalR.Protocols.NewtonsoftJson >= 5.0

// Fable.SignalR
nuget Fable.Remoting.MsgPack ~> 1.18
nuget Fable.SimpleJson ~> 3.24

// Fable.SignalR.Saturn
nuget Fable.Remoting.Json ~> 2.23
nuget Microsoft.AspNetCore.Authentication.JwtBearer ~> 7.0

// Fable.SignalR.Shared
nuget Microsoft.IO.RecyclableMemoryStream ~> 2.2
