.App {
  display: flex;
  overflow: auto;
  flex: 1;
  max-width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: #212121;
  padding: 1px;
}

.App,
.App a {
  color: #eeffff;
}

.App,
.App input,
.App button {
  font-size: 1.3rem;
}

.App table,
.App tbody {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .App tr {
    display: flex;
  }
}

.App th,
.App td {
  outline: 1px solid #777;
  padding: 5px;
  vertical-align: top;
  flex: 1;
}

.App td:last-of-type {
  max-height: 85vh;
  overflow: auto;
  flex: 5;
  display: flex;
  flex-direction: column;
}

.App .TestnetBankContainer {
  position: relative;
  display: flex;
}

.App .TestnetBankContainer iframe {
  background-color: #aaa;
  flex: 1;
}

.App .TestnetBankContainer button {
  position: absolute;
  top: 6px;
  right: 6px;
}
