body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  display: flex;
  flex-direction: row;
  box-sizing: "border-box";
  overflow: hidden;
  align-items: stretch;
  align-content: stretch;
}

::-webkit-scrollbar {
  width: 11px;
}

*::-webkit-scrollbar:horizontal {
  height: 8px;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-corner {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background: #555;
  opacity: 0.8;
  background-clip: content-box;
  border-left: 2px solid transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background: #ccc;
  background-clip: content-box;
  border-left: 2px solid transparent;
}

#root {
  display: flex;
  flex: 1;
}
